body {
    background-image: url(guessbackground.jpg);
    background-repeat: no-repeat;
}

h1 {
    display: flex;
    justify-content: center;
    font-family: 'Limelight', cursive;
    font-size: 50px;
}

pre {
    padding-bottom: 40px;
    font-size: 20px;
    font-family: 'Dosis', sans-serif;
}

.outputbox {
    height: 200px;
    text-align: center;
}

#buttongroup {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding-right: 50px;
    padding-left: 50px;
}


button {
    outline: none;
    box-shadow: 10px 10px 8px rgba(24, 32, 55, 0.514);
    display: flex;
    height: 100px;
    width: 200px;
    border: none;
    background-color: #627987;
    border-radius: 15px;
    opacity: .8;
    color: black;
    font-size: 20px;
    font-family:'Dosis', sans-serif;
    margin: auto;
    justify-content: center;
}

button:active {
    box-shadow: 10px 10px 8px rgba(24, 32, 55, 0.514);
    transform: translateX(2px) translateY(2px);
}
